<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/rounded_fx_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rounded_fx_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDemoFX"
        tools:targetApi="31">
        <activity
            android:name=".month2.week4.Activity_Day_2_4_4"
            android:exported="false" />
        <activity
            android:name=".month2.week4.Activity_Day_2_4_3"
            android:exported="false" />
        <activity
            android:name=".month2.week4.Activity_Day_2_4_2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".month1.Activity_Month_1"
            android:exported="false" />
        <activity
            android:name=".month1.week1.Activity_Week_1_1"
            android:exported="false" />
        <activity
            android:name=".month1.week1.Activity_Day_1_1_1"
            android:exported="false" />
        <activity
            android:name=".month1.week2.Activity_Week_1_2"
            android:exported="false" />
        <activity
            android:name=".month1.week2.Activity_Day_1_2_1"
            android:exported="false" />
        <activity
            android:name=".month1.week2.Activity_Day_1_2_2"
            android:exported="false" />
        <activity
            android:name=".month1.week2.Activity_Day_1_2_3"
            android:exported="false" />
        <activity
            android:name=".month1.week2.Activity_A"
            android:exported="false" />
        <activity
            android:name=".month1.week2.Activity_B"
            android:exported="false" />
        <activity
            android:name=".month1.week3.Activity_Week_1_3"
            android:exported="false" />
        <activity
            android:name=".month1.week3.Activity_Day_1_3_1"
            android:exported="false" />

        <service
            android:name=".month1.week3.ServiceForStartDay131"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|mediaPlayback|phoneCall" />
        <service
            android:name=".month1.week3.ServiceForBindDay131"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|mediaPlayback|phoneCall" />

        <activity
            android:name=".month1.week3.Activity_Day_1_3_2"
            android:exported="false" />

        <service
            android:name=".month1.week3.ServiceForStartDay132"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|mediaPlayback|phoneCall" />
        <service
            android:name=".month1.week3.ServiceForBindDay132"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|mediaPlayback|phoneCall" />

        <activity
            android:name=".month1.week4.Activity_Week_1_4"
            android:exported="false" />
        <activity
            android:name=".month1.week4.Activity_Day_1_4_2"
            android:exported="false" />
        <activity
            android:name=".month1.week4.Activity_Day_1_4_1"
            android:exported="false" />
        <activity
            android:name=".month1.week4.Activity_Day_1_4_3"
            android:exported="false" />
        <activity
            android:name=".month2.Activity_Month_2"
            android:exported="false" />
        <activity
            android:name=".month2.week1.Activity_Week_2_1"
            android:exported="false" />
        <activity
            android:name=".month2.week1.Activity_Day_2_1_1"
            android:exported="false" />
        <activity
            android:name=".month2.week1.Activity_Day_2_1_2"
            android:exported="false" />
        <activity
            android:name=".month2.week1.Activity_Day_2_1_3"
            android:exported="false" />
        <activity
            android:name=".month2.week1.Activity_Day_2_1_4"
            android:exported="false" />
        <activity
            android:name=".month2.week1.Activity_Day_2_1_5"
            android:exported="false" />
        <activity
            android:name=".month2.week1.Activity_Day_2_1_6"
            android:exported="false" />
        <activity
            android:name=".month2.week1.Activity_Day_2_1_7"
            android:exported="false" />
        <activity
            android:name=".month2.week1.Activity_Day_2_1_8"
            android:exported="false" />
        <activity
            android:name=".month2.week1.Activity_Day_2_1_9"
            android:exported="false" />
        <activity
            android:name=".month2.week2.Activity_Week_2_2"
            android:exported="false" />
        <activity
            android:name=".month2.week2.Activity_Day_2_2_1"
            android:exported="false" />
        <activity
            android:name=".month2.week2.Activity_Day_2_2_2"
            android:exported="false" />
        <activity
            android:name=".month2.week2.Activity_Day_2_2_3"
            android:exported="false" />
        <activity
            android:name=".month2.week2.Activity_Day_2_2_4"
            android:exported="false" />
        <activity
            android:name=".month2.week2.Activity_Day_2_2_5"
            android:exported="false" />
        <activity
            android:name=".month2.week2.Activity_Day_2_2_6"
            android:exported="false" />
        <activity
            android:name=".month2.week3.Activity_Week_2_3"
            android:exported="false" />
        <activity
            android:name=".month2.week3.Activity_Day_2_3_1"
            android:exported="false" />
        <activity
            android:name=".month2.week3.Activity_Day_2_3_2"
            android:exported="false" />
        <activity
            android:name=".month2.week3.Activity_Day_2_3_3"
            android:exported="false" />
        <activity
            android:name=".month2.week3.Activity_Day_2_3_4"
            android:exported="false" />
        <activity
            android:name=".month2.week3.Activity_Day_2_3_5"
            android:exported="false" />
        <activity
            android:name=".month2.week3.Activity_Day_2_3_6"
            android:exported="false" />
        <activity
            android:name=".month2.week3.Activity_Day_2_3_7"
            android:exported="false" />
        <activity
            android:name=".month2.week4.Activity_Week_2_4"
            android:exported="false" />
        <activity
            android:name=".month2.week4.Activity_Day_2_4_1"
            android:exported="false" />
    </application>

</manifest>